
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
*.parquet
*.csv
*.gz
*.csv.gz


# dbt
**/data/
**/demo/
**/downloads/
**/venv/
**/logs/
**/dbt_packages/


venv/
.venv/
**/venv/

**google_credentials.json
*.json
*.env
.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod]

*.db